@model WebApp2.ViewModels.CommentsViewModel

<div>
    <h4>CommentsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostId)
        </dd>
    </dl>
</div>

